<?php

/*---------------- PHP Custom Scripts ---------

YOU CAN SET CONFIGURATION VARIABLES HERE BEFORE IT GOES TO NAV, RIBBON, ETC.
E.G. $page_title = "Custom Title" */

$page_title = "Error 500";

/* ---------------- END PHP Custom Scripts ------------- */

//include header
//you can add your custom css in $page_css array.
//Note: all css files are inside css/ folder
$page_css[] = "your_style.css";


//include left panel (navigation)
//follow the tree in inc/config.ui.php
$page_nav["misc"]["sub"]["err_500"]["active"] = true;


?>
<!-- ==========================CONTENT STARTS HERE ========================== -->
<!-- MAIN PANEL -->

	<?php
		//configure ribbon (breadcrumbs) array("name"=>"url"), leave url empty if no url
		//$breadcrumbs["New Crumb"] => "http://url.com"
		$breadcrumbs["Misc"] = "";
		
	?>
	

		<!-- row -->
		<div class="row">
		
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		
				<div class="row">
					<div class="col-sm-12">
						<div class="text-center error-box">
							<h1 class="error-text tada animated"><i class="fa fa-times-circle text-danger error-icon-shadow"></i> Error 500</h1>
							<h2 class="font-xl"><strong>Oooops, Something went wrong!</strong></h2>
							<br />
							<p class="lead semi-bold">
								<strong>You have experienced a technical error. We apologize.</strong><br><br>
								<small>
									We are working hard to correct this issue. Please wait a few moments and try your search again. <br> In the meantime, check out whats new on SmartAdmin:
								</small>
							</p>
							<ul class="error-search text-left font-md">
					            <li><a href="javascript:void(0);"><small>Go to My Dashboard <i class="fa fa-arrow-right"></i></small></a></li>
					            <li><a href="javascript:void(0);"><small>Contact SmartAdmin IT Staff <i class="fa fa-mail-forward"></i></small></a></li>
					            <li><a href="javascript:void(0);"><small>Report error!</small></a></li>
					            <li><a href="javascript:void(0);"><small>Go back</small></a></li>
					        </ul>
						</div>
		
					</div>
		
				</div>
		
			</div>
			
		</div>
		<!-- end row -->

	


<!-- ==========================CONTENT ENDS HERE ========================== -->

<?php 
	//include required scripts
	 
?>
		
<!-- PAGE RELATED PLUGIN(S) 
<script src="..."></script>-->

	
<script type="text/javascript">

	$(document).ready(function() {
		// PAGE RELATED SCRIPTS
		$("#search-error").focus();
		
	})

</script>