@import url(lib.less);
@import url(/less/bootstrap/variables.less);
@import url(/less/bootstrap/mixins.less);
@import url(/less/bootstrap/utilities.less);

body,
input,
button,
select,
textarea,
h1, h2, h3, h4, h5,
.navbar-search .search-query {
  font-family: Arial, Helvetica, sans-serif;
}

.error-message {
	color: white;
	background-color: @color1;
	padding: 3px 10px;
}

td, th {
	&.center {
		text-align: center;
	}
}
th {
	a.desc {
		&:after {
			font-family: FontAwesome;
			content: ' \f0d7';
		}
	}
	a.asc {
		&:after {
			font-family: FontAwesome;
			content: ' \f0d8';
		}
	}
}
.faded {
	.opacity(.4);
}
.input-lg {
	font-size: 12px;
}
textarea.tall {
	height: 400px;
}
.mce-panel {
	border-color: #ccc !important;
}
.btn-bottom-add {
	margin-top: 20px;
}