@import url(lib.less);
@import url(bootstrap/variables.less);
@import url(bootstrap/mixins.less);
@import url(bootstrap/utilities.less);

body,
input,
button,
select,
textarea,
h1, h2, h3, h4, h5,
.navbar-search .search-query {
  font-family: Arial, Helvetica, sans-serif;
}

.error-message {
	color: white;
	background-color: #ff3300;
	padding: 3px 10px;
}