<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Dark Login Form</title>
  <link rel="stylesheet" href="/css/admin_login.css">
  <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
	<div id="container">

		<form method="post" action="index.html" class="login">
			<p>
			  <!-- <label for="login">Email:</label> -->
			  <input type="text" name="login" id="login" value="" placeholder="Email address">
			</p>

			<p>
			  <!-- <label for="password">Password:</label> -->
			  <input type="password" name="password" id="password" value="" placeholder="Password">
			</p>

			<p class="login-submit">
			  <button type="submit" class="login-button">Login</button>
			</p>

			<!-- <p class="forgot-password"><a href="index.html">Forgot your password?</a></p> -->
		</form>

		roningrp.com

		<?php
		// echo $this->Html->image('admin_login_logo.png', array('class'=>'logo'));
		?>
	</div>
</body>
</html>
