<?php
echo $this->Html->css(array('/css/login_register.css'), array('inline'=>false));
?>

<form action="index.html" class="login">
	<h1>Register</h1>
	<input type="email" name="email" class="login-input" placeholder="Email Address" autofocus>
	<input type="password" name="password" class="login-input" placeholder="Password">
	<input type="password" name="password" class="login-input" placeholder="Password">
	<input type="submit" value="Login" class="login-submit">
	<p class="login-help"><a href="index.html">Forgot password?</a></p>
</form>